@mixin kaszaGridMakeCol($name) {
    @for $i from 1 to ($kasza-grid-column+1) {
        $width:(($kasza-grid-width/$kasza-grid-column)*$i)-($kasza-grid-padding-col*2);
        .col-#{$name}-#{$i}{
            width: $width;
            padding-left: $kasza-grid-padding-col;
            padding-right: $kasza-grid-padding-col;
        }
    }
}
@mixin kaszaGridMakeCols {
    @for $i from 1 to ($kasza-grid-column+1) {
        $width:(($kasza-grid-width/$kasza-grid-column)*$i)-($kasza-grid-padding-col*2);
        .col-#{$i}{
            width: $width;
            padding-left: $kasza-grid-padding-col;
            padding-right: $kasza-grid-padding-col;
        }
    }
    @each $name, $key in $kasza-grid-breakpoint {
        @media screen and (min-width: $key){
            @include kaszaGridMakeCol($name);
        }
    }
}
