@if $kasza-fixed==true {
    .fixed-left {
        top: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: $kasza-zindex-fixed;
    }
    .fixed-right {
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: $kasza-zindex-fixed;
    }
}
